backcall==0.1.0
cycler==0.10.0
decorator==4.4.0
h5py==2.9.0
imageio==2.5.0
ipdb==0.12
ipython==7.4.0
ipython-genutils==0.2.0
jedi==0.13.3
kiwisolver==1.0.1
matplotlib==3.0.3
networkx==2.3
nltk==3.4.5
numpy==1.16.2
opencv-python==4.1.0.25
pandas==0.24.2
parse==1.12.0
parso==0.4.0
pexpect==4.7.0
pickleshare==0.7.5
Pillow==6.2.0
prompt-toolkit==2.0.9
protobuf==3.7.1
ptyprocess==0.6.0
Pygments==2.3.1
pyparsing==2.4.0
python-dateutil==2.8.0
pytz==2019.1
PyWavelets==1.0.3
scikit-image==0.15.0
scipy==1.2.1
singledispatch==3.4.0.3
six==1.12.0
tensorboard-logger==0.1.0
torch==1.0.1.post2
torchvision==0.2.2.post3
tqdm==4.31.1
traitlets==4.3.2
wcwidth==0.1.7
